.center-div {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* You need to define a height */
}

.w-10 {
  width: 10% !important;
}

.w-15 {
width: 15% !important;
}

.w-20 {
width: 20% !important;
}

.image-hover-zoom {
  transition: transform 0.5s ease;
}

.image-hover-zoom:hover {
  transform: scale(1.2); /* Adjust scale value to control zoom level */
  cursor: pointer;
}

.hoverable-text {
  transition: transform 0.5s ease;
}

.hoverable-text:hover {
  transform: scale(1.1);
  cursor: pointer;
}